.App {
  min-height: 100vh;
  position: relative;
}

.App .navbar-brand {
  font-weight: bold;
}

.mobileNav{
  display: none;
}


@media(max-width: 480px) {

  .lander{
    display: none;
  }

  .mobileNav{
    display: block;
  }

}